
/*
Pour les !!!
*/
.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details, .tabbed-set {
  font-size: 0.8rem;
}

/*
Pour les ???
*/
.md-typeset :is(.admonition, details) {
        font-size: 0.8rem;
}

/*
Pour les tab.
*/
.md-typeset .tabbed-content {
    border-left: .05rem solid var(--md-default-fg-color--lightest);
    border-right: .05rem solid var(--md-default-fg-color--lightest);
    border-bottom: .05rem solid var(--md-default-fg-color--lightest);
}


@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.1);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color:firebrick
}

:root {
  --md-admonition-icon--savoir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>')
}
.md-typeset .admonition.savoir,
.md-typeset details.savoir {
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title,
.md-typeset .savoir > summary {
  background-color: rgba(185, 27, 101, 0.1);
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title::before,
.md-typeset .savoir > summary::before {
  background-color: rgb(219, 16, 16);
  animation: heart 1000ms infinite;
  -webkit-mask-image: var(--md-admonition-icon--savoir);
          mask-image: var(--md-admonition-icon--savoir);
}

/* Test pour cacher une image en fonction du thème */

body[data-md-color-scheme^="default"] img.sombre {
  display: none;
}

body[data-md-color-scheme^="slate"] img.clair {
  display: none;
}

/* Pour l'admonition "exercice" */

:root {
    --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>')
}

.md-typeset .admonition.exercice, .md-typeset details.exercice {
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title, .md-typeset .exercice > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title::before, .md-typeset .exercice > summary::before {
    background-color: rgb(43, 155, 70);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--exercice);
            mask-image: var(--md-admonition-icon--exercice);
}

/* Pour l'admonition "video" */

:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M16 3.75a.75.75 0 0 0-1.136-.643L11 5.425V4.75A1.75 1.75 0 0 0 9.25 3h-7.5A1.75 1.75 0 0 0 0 4.75v6.5C0 12.216.784 13 1.75 13h7.5A1.75 1.75 0 0 0 11 11.25v-.675l3.864 2.318A.75.75 0 0 0 16 12.25v-8.5zm-5 5.075l3.5 2.1v-5.85l-3.5 2.1v1.65zM9.5 6.75v-2a.25.25 0 0 0-.25-.25h-7.5a.25.25 0 0 0-.25.25v6.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-4.5z"/></svg>')
}

.md-typeset .admonition.video, .md-typeset details.video {
    border-color: rgb(125, 60, 152);
}

.md-typeset .video > .admonition-title, .md-typeset .video > summary {
    background-color: rgba(125, 60, 152, 0.1);
    border-color: rgb(125, 60, 152);
}

.md-typeset .video > .admonition-title::before, .md-typeset .video > summary::before {
    background-color: rgb(125, 60, 152);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
}

/* Tout le texte est justifié ... */
body {
  text-align: justify;
}

/* ... sauf les liens à gauche de la page. */
.md-nav__item {
  text-align: left;
}

/* Pour imiter un bouton. */
bouton {
  background-color: #d9dbda;
  border: 1px solid;
  border-color: grey;
  color: black;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  margin: 4px 2px;
  cursor: pointer;
}


/* Pour avoir une "jolie" arborescence de fichiers. */
.arborescence {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.1;
  -webkit-text-size-adjust: none;
}

red {
  color:red;
}
